.App {
  text-align: center;
}

.App-logo {
  height: 5vh;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding-right: 10px;
  justify-content: center;
  font-size: calc(3px + 1vmin);
  color: white;
}

.App-footer {
  background-color: #abb2bf;
  position: fixed;
  bottom: 0;
  width: 100%;
  min-height: 1vh;
  align-items: stretch;
  justify-content: center;
  font-size: inherit;
  color: white;
}

.App-link {
  color: #61dafb;
}
